/* ALL */

:root {
  --backColor: white;
  --headerColor: rgb(13, 86, 196);
}

body {
  background: var(--backColor);
  display: flex;
}

/* FRONTPAGE */

.front {
  position: fixed;
  top: 25%;
  left: 40%;
  width:20%;
  display:flex;
  flex-direction: column;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
}

.front .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.front .header .btnNotSelected {
  background-color: grey;
  border: 3px solid grey;
  padding: 5% 0% 5% 0%;
}

.front .header .btnSelected {
  background-color:lightgray;
  border: 3px solid grey;
  padding: 5% 0% 5% 0%;
  border-bottom: none;
}

.front form {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border: 3px solid grey;
  border-top:none;
}

.front form input {
  background-color: lightgray;
  padding: 2% 0% 2% 0%;
  border: none;
  border-bottom: 2px dotted black;
}

.front form .feet button {
  background-color: lightgreen;
  border: none;
  padding: 2% 0% 2% 0%;
  margin-top: 2%;
  width: 100%;
}

.front .body {
  display: flex;
  flex-direction: column;
}

/* BACKPAGE */

.back {
    position: fixed;
    top: 3%;
    left: 3%;
    width:94%;
}

.back .logout {
  position: fixed;
  top: 5%;
  left:85%;
  background-color: rgb(233, 173, 173);
  border: 3px solid var(--headerColor);

}

/* MODAL */

.modalContainer {
    position: fixed;
    z-index: 1;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background: transparent;
    pointer-events:all;
}

.modal {
  width: 50%;
  z-index: 2;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 30%;
  left: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotate: 0deg) {
  .modal {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
  }
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.modal .header {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
  word-break: break-all;
}
.modal .content {
  padding: 1rem;
  max-width: inherit;
  word-break: break-all;
}
.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
.modal .actions button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.entry {
  text-decoration-line: underline; 
  text-decoration-style: dotted;
  border: 0rem;
  background-color: #eee;
  color: black;

}
textarea {
  width: 500px;
  height:100px; 
}

#centered-toggle-button {
  position: absolute;
}